.card-album {
  /* background-color: grey; */
  height: 300px;
  width: 200px;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 10px;
}

.card-album img {
  width: 100%;
  height: 190px;
  border-radius: 5px;
}

.texts-container p {
  word-wrap: break-word;
}