@import './variables.css';

.header-container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 64px;
  width: 100%;
  padding: 8px;
  color: var(--fonts-color-gray);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-container .logo-container img {
  height: 44px;
  padding-top: 5px;
  padding-left: 20px;
}

.header-container .links-container {
  display: flex;
  gap: 30px;
}

.header-container .links-container .nav-links {
  text-decoration: none;
  color: inherit;
}

.header-container .links-container .nav-links:hover {
  color: var(--accent-blue2);
  transform: scale(1.02);
}

.user-name-container {
  padding-right: 20px;
  color: var(--fonts-color-gray);
}