@import './variables.css';

.header-container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 64px;
  width: 100%;
  padding: 8px;
  color: var(--fonts-color-gray);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header-container .logo-container img {
  height: 44px;
  padding-top: 5px;
  padding-left: 20px;
}

.header-container .links-container {
  display: flex;
  gap: 30px;
}

.header-container .links-container .nav-links {
  text-decoration: none;
  color: inherit;
}

.user-name-container {
  padding-right: 20px;
  color: var(--fonts-color-gray);
}

/* .header-container {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100vh;
  position: fixed;
  align-items: center;
}

.logo-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.user-name-container {
  margin-top: 25px;
  position: absolute;
  bottom: 40px;
}

.links-container {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.nav-links-container {
  width: 55%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  text-decoration: none;
  color: aliceblue;
} */