@import './variables.css';

.loading-page {
  background: #171820;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-page h1 {
  color: var(--fonts-color-gray);
}