@media only screen and (max-width: 600px) {
  .loguin-container {
    background-color: brown;
    text-align: center;
    padding: 45px;
  }

  .loguin-container form {
    gap: 20px;
  }

  .image-container{}

  .image-container .user-image{
    height: 200px;
    border-radius: 50%;
  }
}
