* {
  margin: 0;
  padding: 0;
}

.loguin-container {
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/dc31d7115825285.6055d4108f299.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loguin-container .loguin-form {
  background-color: rgba(97, 122, 122, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.image-container {
  /* background-color: blue; */
  margin-bottom: 80px;
}

.image-container .user-image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 3px #171820;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.inputs-container {
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inputs-container .loguin-input {
  background-color: rgb(58, 62, 62, 0.1);
  border-radius: 3px;
  border: none;
  border-bottom: 3px solid #171820;
  height: 40px;
  width: 370px;
  text-align: center;
}

.inputs-container .loguin-input:focus {
  background-color: rgb(58, 62, 62, 0.3);
}

.inputs-container .loguin-input:valid {
  background-color: rgb(58, 62, 62, 0.2);
  border: none;
  border-bottom: 3px solid #171820;
}

.inputs-container .loguin-input::placeholder {
  text-align: center;
  font-size: 18px;
  color: #171820;
  font-weight: 500;
}

.button-container .loguin-button {
  width: 370px;
  height: 37px;
  background-color: #1c0649;
  border-radius: 7px;
  color: antiquewhite;
  font-weight: 500;
}

.button-container .loguin-button:hover {
  background-color: #270b5f;
}
