@import './variables.css';

.music-card {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  height: 70px;
  /* max-height: 70px; */
  border-radius: 5px;
  /* background-color: #040c0a4d; */
  background-color: #e4d6f309;
  box-shadow:  -1px 1px 1.5px rgba(23,24,32,0.2), 1px -1px 1.5px rgba(0,10,73,0.2);
}

.music-card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 5px 1px rgba(10, 117, 136, 0.3);
}

.player-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.card-music-box-image {
  height: 100%;
  width: 60px;
  background-image: linear-gradient(29deg, rgba(9,104,106,1) 0%, rgba(70,6,42,1) 100%);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-music-box-image img {
  height: 95%;
  width: 95%;
  border-radius: 5px;
}

.track-namebox {
  display: flex;
  height: 100%;
  min-width: 15%;
  justify-content: center;
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
  font-size: 15px;
  position: relative;
  display: inline-block;
  width: 4.5em;
  height: 2em;
 }
 
 /* Hide default HTML checkbox */
 .switch input {
  background-color: transparent;
  opacity: 0;
  width: 0;
  height: 0;
 }
 
 /* The slider */
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(120deg,#234567,#781223);
  transition: .4s;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-top-left-radius: 11px;
  border-bottom-right-radius: 11px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: #dde4eb;
  transition: .4s;
 }
 
 input:checked + .slider {
  background-color: transparent;
 }
 
 input:checked + .slider:before {
  transform: translateX(2.5em);
 }
