.page-profile {
  height: 100vh;
  width: 100vw;
  position: fixed;
  color: var(--fonts-color-gray);
  background-color: var(--main-color);
}

.profile-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-content {
  height: 95%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-content .profile-image {
  height: 200px;
  width: 98%;
  height: 98%;
  border-radius: 50%;
  object-fit: cover;
}

.profile-imagebox {
  margin-top: 100px;
  background: linear-gradient(120deg,#234567,#781223);
  height: 40%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.profile-infos-box {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.edit-profile-container-link {
  width: 45%;
  height: 95%;
}

.edit-profile-container-link .profile-edit-link {
  height: 20%;
  display: flex;
  align-items: center;
}

.link-edit {
  text-decoration: none;
  color: var(--accent-blue);
  margin: 0%;
  padding: 0%;
}

.link-edit:hover {
  color: var(--accent-blue2);
}

.user-description-box {
  height: 77%;
  margin-top: 40px;
  border-radius: 10px;
}