@import './variables.css';

.page-search {
  background: linear-gradient(7deg, rgba(0,0,0,1) 1%, rgba(27,10,4,1) 8%, rgba(33,4,4,1) 14%, rgba(36,11,0,1) 21%, rgba(0,0,0,1) 46%, rgba(20,20,10,1) 77%, rgba(14,37,34,1) 89%, rgba(3,53,60,1) 96%);
  height: 100vh;
  width: 100vw;
}

.search-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.search-container .inputs-container {
  height: 54px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* O código referente ao input foi pego aqui ('https://uiverse.io/sonusng/lovely-bulldog-50') */
.inputbox input {
  width: 310px;
  height: 40px;
  padding: 0 16px;
  background: transparent;
  border-radius: 500px;
  border: 1px solid #058385;
  color: #f9f9f9;
  /* animation: shake_541 0.14s 3; */
}

.inputbox input::placeholder {
  color: rgb(187, 186, 185);
}

.inputbox input:hover{
  border-color: #45feaf;
  animation: none;
}

.btnbox button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 11px;
  margin: 0;
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  border-radius: 500px;
  background: transparent;
  color: rgb(187, 186, 185);
}

.btnbox button:hover {
  color: #1e8d8f;
}

.search-container .albuns-result {
  display: flex;
  padding-top: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: rgb(187, 186, 185);
  font-size: large;
}

.show-search {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

/* .page-search {
  background: rgb(23,24,32);
  background: var(--gradient-background);
  display: flex;
  color: antiquewhite;
}

.search-container {
  width: 100%;
  margin-left: 260px;
}

.inputs-container {
  width: 100%;
  display: flex;
  gap: 20px;
  height: 70px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
} */

/* todo código referente ao input foi pego no aqui ('https://uiverse.io/Yaseen549/cowardly-emu-68') */
/* .inputs-container input {
  color: #45067f;
  border: 1px solid #480685;
  border-radius: 10px;
  padding: 6px 25px;
  background: transparent;
  max-width: 190px;
}
 
.inputs-container input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
} */

/* todo código referente ao botão foi pego no aqui ('https://uiverse.io/menezes11/afraid-lizard-67') */
/* .inputs-container button {
  position: relative;
  padding: 9px;
  outline: none;
  border: 1px solid #303030;
  background: #212121;
  color: antiquewhite;
  letter-spacing: 1px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
 }
 
 .inputs-container button:hover {
  box-shadow: 0 0 5px #ae00ff, 0 0 10px #001eff, 0 0 20px #ae00ff;
  transition-delay: 0.6s;
 }
 
 .inputs-container button span {
  position: absolute;
 }
 
 .inputs-container button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
 }
 
 .inputs-container button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
 }
 
 .inputs-container button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
 }
 
 .inputs-container button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
 }
 
 .inputs-container button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
 }
 
 .inputs-container button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
 }
 
 .inputs-container button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
 }
 
 .inputs-container button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
 }
 
 .inputs-container button:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
 }
 
 .inputs-container button:active span:nth-child(1) 
 span:nth-child(2) 
 span:nth-child(2) 
 span:nth-child(2) {
  transition: none;
  transition-delay: none;
 }

.show-search {
  width: 100%;
  height: 90.8vh;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.albuns-result {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
} */