@import './variables.css';

.page-search {
  background: rgb(23,24,32);
  background: var(--gradient-background);
  display: flex;
  color: antiquewhite;
}

.search-container {
  width: 100%;
  margin-left: 260px;
}

.inputs-container form {
  width: 100%;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.show-search {
  width: 100%;
  height: 90.8vh;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.albuns-result {
  /* background-color: blueviolet; */
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}