@import './variables.css';

.page-search {
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(189deg, rgb(47, 5, 110), #171820, #0c152f, #169fa1);
  background-size: 300% 300%;
  animation: colors 15s ease infinite; */
  background-color: #171820;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.search-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.search-container .inputs-container {
  height: 54px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* O código referente ao input foi pego aqui ('https://uiverse.io/sonusng/lovely-bulldog-50') */
.inputbox input {
  width: 310px;
  height: 40px;
  padding: 0 16px;
  background: transparent;
  border-radius: 500px;
  border: 1px solid #058385;
  color: #f9f9f9;
  /* animation: shake_541 0.14s 3; */
}

.inputbox input::placeholder {
  color: rgb(187, 186, 185);
}

.inputbox input:hover{
  border-color: #45feaf;
  animation: none;
  transform: scale(1.02);
}

.btnbox button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 11px;
  margin: 0;
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  border-radius: 500px;
  background: transparent;
  color: rgb(187, 186, 185);
}

.btnbox button:hover {
  color: #45feaf;
  transform: scale(1.02);
}

.search-container .albuns-result {
  display: flex;
  padding-top: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: rgb(187, 186, 185);
  font-size: large;
}

.show-search {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
