:root {
  --main-color: #010310;

  --accent-blue: #169fa1;

  --accent-blue2: #45fee5;

  --fonts-color-gray: rgb(216, 212, 212);

  --transparent-background: #ffffff1d;

  --gradient-background: linear-gradient(7deg, rgba(0,0,0,1) 1%, rgba(27,10,4,1) 8%, rgba(33,4,4,1) 14%, rgba(36,11,0,1) 21%, rgba(0,0,0,1) 46%, rgba(20,20,10,1) 77%, rgba(14,37,34,1) 89%, rgba(3,53,60,1) 96%);

  --gradient-background2: linear-gradient(62deg, rgba(42,3,3,1) 0%, rgba(24,0,0,1) 4%, rgba(0,0,0,1) 12%, rgba(0,0,0,1) 33%, rgba(15,8,8,1) 58%, rgba(0,0,0,1) 91%, rgba(23,16,0,1) 96%, rgba(50,38,1,1) 100%);

}